.App {
  text-align: center;
  background-color: #9370f4b4;
  font-family: Roboto !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.present {
  display:block;
  flex-direction: row;
}

.present ul {
  list-style-type: none;
}

.slideshow,
.slideshow::after {
  position:relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.slideshow::before {
  content: '';
  background: transparent url('./images/events_1.png') repeat top left;
}

.slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size:cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 20s linear infinite 0s;
}

.slideshow li div {
  z-index: 1000;
  position: absolute;
  top: 30%;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #FAFAFA;
  animation: divAnimation 20s linear infinite 0s;
}
.slideshow li div h3 {
  text-align: left;
  position: relative;
  font-size: 240px;
  padding: 0;
  margin-left: 20px;
  line-height: 200px;
}
.slideshow li div p {
  text-align: left;
  position: absolute;
  color: inherit;
  font-size: 2rem;
  padding: 20px;
  background-color: #0000007b;
  width: 90%;
  border-radius: 5px;
  margin: 5vw auto auto 2vw;
}

.slideshow li:nth-child(1) span {
  background-image: url(./images/aboutus_2.png);
}
.slideshow li:nth-child(2) span {
  background-image: url(./images/events_2.png);
  animation-delay: 4s;
}
.slideshow li:nth-child(3) span {
  background-image: url(./images/aboutus_3.png);
  animation-delay: 8s;
}
.slideshow li:nth-child(4) span {
  background-image: url(./images/events_5.png);
  animation-delay: 12s;
}
.slideshow li:nth-child(5) span {
  background-image: url(./images/events_6.png);
  animation-delay: 16s;
}

.slideshow li:nth-child(2) p {
  background-color: rgba(255, 255, 255, 0.463);
}
.slideshow li:nth-child(2) div {
  color: black;
  animation-delay: 4s;
}
.slideshow li:nth-child(3) div {
  color: #FAFAFA;
  animation-delay: 8s;
}
.slideshow li:nth-child(4) div {
  color: #FAFAFA;
  animation-delay: 12s;
}
.slideshow li:nth-child(5) div {
  color: #FAFAFA;
  animation-delay: 16s;
}

@keyframes imageAnimation {
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1;}  
  40% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes divAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  39% { opacity: 0 }
  100% { opacity: 0 }
}


#navbar {
  color: #000000;
  background-color: #AEDAF3;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
}

.navbar-toggler-icon {
  background-image: url('./images/hamburger.png');
}

.linker {
  background-color: #a6d6f1;
  padding: 6px 25px;
  margin: 0px 10px;
  border-radius: 7px;
  font-size: 140%;
}
.linker:hover {
  background-color: #95cfef;
}

.row > h1 {
  color: #000000;
  background-color: #aedaf39f!important;
  padding: 10px 0px;
  font-size: 3rem;
  border-radius: 9px;
}
.row{
  position: relative;
}

/* .col-lg-10, .col-lg-9
{
  position: absolute !important;
} */
#about div p {
  color: #000000;
  font-size: 2rem;
  padding: 20px;
  border-radius: 8px;
}

.abtimg {
  /* position: relative; */
  opacity: 0.8;
}
.p1 {
  background-color:#9672fbb3;
  /* position: relative; */
  margin-bottom: 0px;
}

#rules div ul p {
  color: #000000;
  font-size: 2rem;
  text-align: left;
}
.odd {
  background-color: #9672fbb3;
  border-radius: 8px;
}

.nav-link {
  color: inherit;
  text-decoration: inherit;
}

.even-hi {
  color: #5d3eb2;
  font-weight: bold;
}



@media screen and (max-width: 1140px) {
  .slideshow li div h3 {font-size: 140px;}  
  #about div p {font-size: 1.5rem !important;}
  #rules div ul p {font-size: 1.5rem !important;}
  .slideshow li div p {font-size: 1.5rem !important;}
  .p1 {position: relative;}

  .list-p {font-size: 1.5rem !important;}
  .list-h {font-size: 2.8rem !important;}
  #structure div p {font-size: 1.8rem !important;}
  .schedule-mobile .odd {
    font-size: 1.8rem !important;
  }

}
@media screen and (max-width: 768px) {
  .abtimg { display: none;}
}
@media screen and (max-width: 600px) {
  .col-lg-10, .col-lg-9{
    position: relative !important;
  }
  .slideshow li div h3 {font-size: 80px;}
  #about div p {font-size: 1.2rem !important;}
  #rules div ul p {font-size: 1.2rem !important;}
  .slideshow li div p {font-size: 1.2rem !important;}
  .p1 {position: relative;}

  .list-p {font-size: 1.2rem !important;}
  .list-h {font-size: 2.4rem !important;}
  #structure div p {font-size: 1.5rem !important;}
  .schedule-mobile .odd {
    font-size: 1.5rem !important;
  }

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







.list-p {
  color: #000000;
  font-size: 1.8rem; 
}

.list-h {
  font-size: 3rem;
}


#structure div p {
  color: #000000;
  font-size: 2rem;
  padding: 20px;
  border-radius: 8px;
}

.ulist {
  text-align: left;
}

.struct-content {
  border-radius: 8px;
}

.schedule-mobile {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .schedule-mobile {display: block !important;}
  .schedule-desktop {display: none !important;}
}

.schedule-mobile .odd {
  font-size: 2rem;
}