.headingdiv{
    background-color: #aedaf3;
    width: 100% ;
    /* height: 156px; */
}
.Heading{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 82px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.info{
    background-color:#9772FB;
}
.info p{
    color: white;
    padding: 40px 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

}

.content{
    width: 100%;
    height: 300px;
    /* border: 2px solid black; */
}
.content2{
    background-color: #764AF1C9;
}
.content3{
    margin-bottom: 40px;
}
.contentinfo{
    width: 40%;
    clear: right;
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    padding: 15px;
}
.contentinfo p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.prelims{
    background-color: #764AF1C7;
}
.prelimsimage{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)), url(/public/1.jpeg);
}
.screening{
    background-color: #FFFFFFC2;
}
.screeningimage{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)), url(/public/2.jpeg);
}
.final{
    background-color: #764AF1C7;
}
.finalimage{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)), url(/public/3.jpeg);
}
.contentimage{
    width: 40%;
    height: 90%;
    background-size: 100% 100%;
    float: right;
    clear: right;
    margin-top: 13px;
    margin-right: 50px;
}
.schedule{
    width: 80%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.schedulehead{
    background-color: black;
}
.type1{
    background-color: #764AF1;
}
.type2{
    background-color: #9772FB;
}
.schedrow{
    width: 100%;
    height: 80px;
    position: relative;
}
.vlhead{
    border-left: 2px solid white;
    height: 80px;
    position: absolute;
}
.vl{
    border-left: 2px solid black;
    height: 80px;
    position: absolute;
}
.vl1{
    left: 20%;
}
.vl2{
    left: 40%;
}
.vl3{
    left: 60%;
}
.vl4{
    left: 80%;
}
.cities{
    width: 75%;
    /* display: flex;
    flex-direction: column; */
    margin: auto;
    /* justify-content: center;
    align-items: center; */
}
.cityrow{
    display: flex;
    flex-direction: row;
}
.city{
    width: 50%;
    height: 200px;
    border: 2px solid black;
    margin: 50px;
    padding: 10px;
}
/* .city1{
    
}
.city2{
    
} */
.info h3{
    padding-top: 40px;
    margin-bottom: -15px;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 63px;
    text-align: center;
}
.footer{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 80%;
    margin: auto;
    background-color: #764AF1;
    height: 200px;
}
.icons{
    height: 40%;
    border: 2px solid black;
}
.footerdata{
    border: 2px solid black;
    height: 60%;
    width: 60%;
    margin: auto;
}
.footerdata p{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: white;
    margin-top: 20px;
}